.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.results-container {
  background-color: lightgrey;
  width: 25vh;
  height: 20vh;
  margin: 0 auto;
}

button {
  background-color: red;
}

.form-container {
  width: 10vh;
  height: 5vh;
}
